.uppercontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #00bcd40a;

  .container {
    // min-height: 80vh;
    margin: auto;
    background-color: white;
    padding: 1rem;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

    .heading {
      text-align: center;
      margin-bottom: 1rem;
      text-decoration-line: underline;
    }
    .formUpperContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      .formcontainer {
        margin: 1rem 0;
        width: 100%;
        .alignRow {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 2rem;
        }
        .MuiInputBase-root {
          margin-bottom: 1.5rem;
        }
        .smallText {
          text-align: center;
          margin-top: 1rem;
        }
      }
    }

    .uploadBox {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;
    }

    .cardContainer {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      grid-gap: 1rem;
    }

    .bold {
      font-weight: 600;
    }
  }
}
